*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@media screen and (max-width:425px) {

    .justify-content-around {
        flex-direction: column;
        width: 100%;
    }
    
}

